p {
    font-family: 'Potta One', cursive;
    font-size: 16pt;
}

h1 {
    font-family: 'Londrina Solid', cursive;
    color: #ffc625;
    letter-spacing: 2px;
}

.all-cards {
    background-image: url("../flag.jpg");
    background-size: contain;
    background-clip: border-box;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.cards {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-content: space-around;
    margin: auto;
}

.question {
    width: 100%;
    height: 100%;
    background-color: #447bbf;
    border: 2px solid #193961;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    backface-visibility: hidden;
}

.answer {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    background-color: #e04747;
    border: 2px solid #a50d0d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /**position: absolute;**/
    z-index: 1;
}

.card {
    height: 150px;
    width: 150px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.container:hover .card {
    transform: rotateY(180deg);
}

.container {
    perspective: 1000px;
}